 body                           { font-family: 'Open Sans', 'Mono Sans', 'Roboto Sans', Verdana, 'Sans-Serif'; font-size: 14pt; padding: 0px; margin: 10px; color: #000000; } 
 h1, h2, h3                     { font-size: 12pt; line-height: 1.25em; font-weight: normal; font-style: normal; text-align: left; } 
 a, a:link, a:active, a:visited { text-decoration: underline; } 
 img                            { border: none; } 
 p                              { margin-top: 20px; text-indent: 0.5em; text-align: left; font-size: 14pt; line-height: 1.5em; } 
 ul                             { margin-left: 2em; } 
 li                             { display: block; } 
 h1, h2, h3                     { color: #000033; font-weight: bold; } 
 h1                             { font-size: 20pt; margin-bottom: 32px; } 
 h1.chapter                     { margin-top: 5em; } 
 h1 .big                        { font-size: 3em; padding-bottom: 0.3em; color: #cccccc; } 
 h2                             { font-size: 12pt; } 
 h3                             { font-size: 10pt; } 
.titles                         { padding-left: 32px; } 
.toc                            { padding-top: 12px; padding-left: 0; } 
.toc a                          { line-height: 1.5em; text-decoration: none; } 
.skipdownb                      { padding-top: 60px; } 
.skipdowns                      { padding-top: 40px; } 
.centred                        { text-align: center; } 
.scene                          { text-align: center; padding: 10px 0 10px 0; } 
